@use '../styles/abstracts/mixins';

.header {
	padding: 2rem;
}
.logo {
	width: 5rem;
	height: auto;
	@include mixins.breakpoint(sm) {
		width: 7rem;
	}
	@include mixins.breakpoint(md) {
		width: 9rem;
	}
}
.mobile_header {
	background-color: black;
	color: white;
	padding: 1rem;
	width: 100%;
	@include mixins.breakpoint(sm) {
		display: none;
	}
}

